<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Check Spam</title>
</head>
<script>
        async function checkSpam() {
            const msg = document.getElementById("msg").value;

            const response = await fetch("/api/spam/check", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ text: msg })
            });

            const data = await response.json();

            document.getElementById("result").innerText =
                data.result ? "Spam" : "Not spam";
        }
</script>
<body>
    <h3>check_spam</h3>

    <input type="text" id="msg" placeholder="Enter message">
    <button onclick="checkSpam()">Submit</button>

    <p id="result">TEST</p>
</body>
</html>
